{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block script %}
<script type="text/javascript">
    var pointstart = new Date('{{ startdate.isoformat() }}');
    var enddate = new Date('{{ startdate.isoformat() }}');
    var symbol = '{{ symbol }}';
    var categories = [ '{{ symbol }}' ];
    var title = '{{ "%s (%s)"% (info[1],info[0]) }}';
    var yAxisText = 'high $';
    var series_data = [
    {% for price in prices %}
    [Date.UTC({{ "%s,%s,%s"%(price[1][:4],price[1][4:6],price[1][6:8])}}),{{ price[0] }} ],
    {% endfor %}];
</script>
<script src="{{STATIC_URL}}js/libs/highcharts/highcharts.js"></script>
<script src="{{STATIC_URL}}js/libs/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>
{% endblock %}
{% block content %}
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}

