{% macro list(title, items=[], page=None) -%}
<h1>{{ title }}</h1>
{{ paginator(page) if page else '' }}
<ol>
    {% for item in items %}
    {% if caller %}
    {{ caller(item) }}
    {% else %}
    <li>{{ item }}  </li>
    {% endif %}
    {% endfor %}
</ol>
{{ paginator(page) if page else '' }}
{%- endmacro %}
{% macro paginator(page) -%}
<div class="pagination">
    Browse by title:
    {% for p in page.paginator.pages %}

    {% if p == page %}
    <span class="selected">{{ page }}</span>
    {% else %}
    <a href="?page={{ p.number }}">
        {{ p }}
    </a>
    {% endif %}

    {% endfor %}
</div>
{%- endmacro %}
