{% extends "base.html" %}
{% block script %}
<script type="text/javascript">
    var startdate = '{{ startdate.strftime('%B %d %Y') }}';
    var enddate = '{{ enddate.strftime('%B %d %Y') }}';
    var categories = [ 
    {% for transaction in items %}
    '<a href="{{ url("/transactions/items/" + transaction['key']) }}" >{{ transaction['key'] }}</a>',
    {% endfor %}];
    var series_data = [
    {% for transaction in items %}
    {{ transaction['total'] * -1}},
    {% endfor %}];
</script>

<script src="{{STATIC_URL}}js/libs/highcharts/highcharts.js"></script>
<script src="{{STATIC_URL}}js/libs/highcharts/modules/exporting.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/transactions.js"></script>
{% endblock script %}
{% block content %}
Transactions:
<div id="container" style="min-width: 400px; height: 1024px; margin: 0 auto"></div>
{% endblock content %}

